<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/add_link" method="post">
        <label for="long_link">Input long link there:</label>
        <input type="text" name="long_link" {% if long_link %} value="{{ long_link }}" {% endif %}>
        <input type="submit" value="Get short link!">
    </form>
    {% if short_link %}
        <p>That's your short link: 127.0.0.1:5000/{{ short_link }}</p>
    {% endif %}
    {% for x in links %}
        {{ x }}<br>
    {% endfor %}
</body>
</html>